<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- ハンバーガーメニューやロゴなどを表示する領域 -->
    <div class="navbar-header">
      <!-- ハンバーガーメニューの描画 -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <!-- .sr-onlyを指定したメニューはブラウザでは表示されません。音声ブラウザにハンバーガーメニューのボタンの存在を知らせるためのクラス -->
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- ロゴ -->
      <a class="navbar-brand" href="#">Bootstrap</a>
    </div>
    <!-- メニューリスト -->
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">top</a></li>
        <li><a href="">menu1</a></li>
        <li><a href="">menu2</a></li>
      </ul>
    </div>
  </div>
</nav>
